# binary files
**tar.gz
ldap-tool
ldap-tool_Darwin_x86_64
ldap-tool_Linux_x86_64
release/

# vim swap files
**.swp
**.swo

# OSX
**.DS_Store

# test logs file
logs
logs/*

# config with private into and test scripts
test/config.ini
test/ldap

# saved files
.saved/*
